 <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav list-group">
                <li class="sidebar-brand">
                    <a>People online</a>
                </li>
                <li>
                    <input type="text" class="form-control" ng-model="query" placeholder="Search">
                </li>
                <li ng-repeat="user in directory | PeopleFilter:{name:query, banned: 'false'}"
                    class="list-group-item">
                    <span ng-click="createConversation(user)">> {{ user.username }}</span>
                    <button class="btn btn-xs pull-right" ng-click="switchBan(user)">
                        <span>Ban</span>
                    </button>
                </li>
                <li class="sidebar-brand">
                    <a>People banned</a>
                </li>
                <li ng-repeat="user in directory | PeopleFilter:{name:query, banned: 'true'}"
                class="list-group-item">
                     <span>> {{ user.username }}</span>
                    <button class="btn btn-xs pull-right" ng-click="switchBan(user)">
                        <span>Unban</span>
                    </button>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <tabset justified="true">
                        <tab ng-repeat="conv in conversations" heading="{{ conv.title }}">
                            <div class="messages"></div>
                            <form class="form-inline chat-input">
                                <!-- <div class="form-group"> -->
                                    <input type="text" class="form-control" ng-model="message">
                                    <button type="submit" ng-click="send(message)" class="btn btn-default">Send</button>
                                <!-- </div> -->
                            </form>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>